.MuiTabs-indicator {
    background-color: #3530FF;
    height: 5px;
    border-radius: 17px;
}

.MuiTabs-root {
    padding-left: 10%;
    padding-right: 10%;
}

.MuiTabPanel-root {
    padding: 24px 0;
}

.mainContainer {
    padding: 0 4rem;
}

.primaryText {
    color: #225FFF;
}

.borderRight {
    border-right: #C9C9C9 solid 1px;
}

.sortSelect {
    padding: 10px;
    border-radius: 8px;
    border-color: #225FFF;
    color: #225FFF;
}

.bottomEnd {
    align-self: flex-end;
}

.bottomShadow {
    box-shadow: 0px 6px 60px 0px #07082B0D;
}

.cardCrypto {
    border: none;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 7.04516px 16.2581px rgba(6, 7, 30, 0.07);
    border-radius: 15.1742px;
    max-width: 260px;
}

.logoCrypto {
    width: 65px;
    height: 65px;
    padding: 5px;
    background: #F5F8FF;
    border-radius: 4.33548px;
    margin-top: -62px;
}

.ethereumLogo {
    width: 24px;
    margin-left: 44px;
    margin-top: -43px;
}

.cryptoTitle {
    font-size: 16px;
    font-weight: bold;
}

.checkIcon {
    width: 13px;
    margin-top: -2px;
}

.socialIcon {
    width: 18px;
    margin: 3px;
}

.titleBody {
    padding: 4px 0;
    background: #F5F8FF;
    border-radius: 55px;
}

.circleOrange {
    width: 6px;
    height: 6px;
}

.btnConnectWallet {
    padding: 18px 10px;
    background: #F5F8FF;
    border: none;
    border-radius: 55px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}